<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SSH2</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 如果将该xml文件放在WEB-INF下面的话，就需要下面配置 <param-value>WEB-INF/applicationContext.xml</param-value> -->
		<!-- 默认配置 -->
		<param-value>classpath:com/lzq/config/applicationContext-*.xml</param-value>
	</context-param>

	<!-- 配置spring -->  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 自定义Filter：必须在struts2的Filter的上面 -->
	<filter>
		<filter-name>myFilter</filter-name>
		 <!--使用spring管理Filter，在struts2里面将会使用代理
			<filter-class>com.lzq.filter.MyFilter</filter-class>
		 -->
		 <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		 
		<!-- 参数注入：在applicationContext中，如果name的名称与class的名称不同，需要这么配置-->
		 <init-param>
		 	<param-name>targetBeanName</param-name>
		 	<param-value>myFilterTest</param-value>
		 </init-param>
		 
		 <!--参数注入：设置为true，表示自己管理Filter的生命周期 -->
		 <init-param>
		 	<param-name>targetFilterLifecycle</param-name>
		 	<param-value>true</param-value>	
		 </init-param>
		 
		  <!--参数注入 -->
		 <init-param>
		 	<param-name>encoding</param-name>
		 	<param-value>UTF-8</param-value>
		 </init-param>
	</filter>
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Struts2配置 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,com/lzq/config/struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>